# Dependencies
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.exe
*.dll
*.pdb
bin/
obj/
target/

# Rust
Cargo.lock

# Logs
*.log

# Local
.env
.env.local

# Tauri
src-tauri/target/
Panel/src-tauri/gen/
